# Banco de dados local
*.db
*.sqlite3

# Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/

# Flet
.flet/

# Build e distribuição
build/
dist/
*.egg-info/

# Arquivos temporários
tempCodeRunnerFile.py

# Variáveis de ambiente
.env
.envrc

# Testes e cache
.pytest_cache/
.coverage
.coverage.*

# IDE
.vscode/
.idea/
